{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="containerNewPrestaire">

        <h1>nouveaux prestataires</h1>
        <div class="grid-container-bodyHome">

            <div class="PictureNewPrestaire">
                <img src="{{asset('build/pictures/prestataire1.jpeg') }}">
            </div>
            <div class="PictureNewPrestaire">
                <img src="{{asset('build/pictures/prestaiare2.jpg') }}">
            </div>
            <div class="PictureNewPrestaire">
                <img src="{{asset('build/pictures/prestataire3.jpg') }}">
            </div>
            <div class="PictureNewPrestaire">
                <img src="{{asset('build/pictures/pedicure.jpeg') }}">
            </div>

        </div>
        <div class="containerServiceMois">
            <h1>service du mois</h1>
            <div class="PictureServiceMois">
                <img src="{{asset('build/pictures/hamam.jpeg') }}">
            </div>
        </div>
    </div>


{% endblock %}
